.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of viewport height */
    width: 100%;
    background-color: #f6f8fa; /* Light background color */
    font-family: Arial, sans-serif; /* Default font */
  }
  
  .register-page h1 {
    font-size: 2rem; /* Larger font size for heading */
    color: #0366d6; /* Primary color for headings */
    margin-bottom: 20px;
  }
  
  .register-page form {
    width: 300px; /* Form width */
  }
  
  .register-page input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da; /* Border color */
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .register-page button[type="submit"] {
    width: 100%;
    background-color: #0366d6; /* Primary color for buttons */
    color: #ffffff; /* White text color for buttons */
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }
  
  .register-page button[type="submit"]:hover {
    background-color: #035fc7; /* Darker shade on hover */
  }
  
  
.register-page .google-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
   /* Google's red color */
  color: red; /* White text color for buttons */
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.register-page .google-signup i {
  margin-right: 10px;
}
  